@charset "UTF-8";
/* CSS Document */

h1 {align-content: center;
margin-left: 40%;
margin-right: 20%;
	color: white;
}

div.fondo{font-size: 20px;
}

h2 {align-content: left;
font-size: 30px;
color: white;}

h3{align-content: left;
font-size: 30px;
color: white;}

h4{align-content: left;
font-size: 30px;
color: white;
}

h5 { align-content: left;
font-size: 30px;
color: white;
}

div.plastilina{ align-content: center;
}

h6 {align-content: left;
font-size: 30px;
color: white;}

h7 {align-content: left;
font-size: 30px;
color: white;}